
$color_text: #6f6f6f;
$background-color:#61ce70; 
.type-1737 {
    hr{
        width: 15%;
        height: 2px;
        background-color: $background-color;
    }
    i{
        font-size: 40px;
        color: white;
        background-color: $background-color ;
        border-radius: 80%  ;
    }
    p{
        color: $color_text;
    }
    
}