.type-1737 hr {
  width: 20%;
  height: 2px;
  background-color: #61ce70; }
.type-1737 i {
  font-size: 40px;
  color: white;
  background-color: #61ce70;
  border-radius: 80%; }
.type-1737 p {
  color: #6f6f6f; }
