.type-1812 {
  background-color: #DDDDDD;
  height: 60%; }
  .type-1812 a {
    text-decoration: none !important; }
  .type-1812 .mess {
    width: 100%;
    font-size: 12px;
    background-color: #23a455;
    color: white; }
  .type-1812 .mess i {
    font-size: 14px; }
  .type-1812 .content p {
    color: #6f6f6f; }
